.activity {
    margin: 5px;
    padding: 5px;
}

.activity.dropOverTop {
    margin-top: 40px;
}
.activity.dropOverBottom {
    margin-bottom: 40px;
}

.activity-presentation {
    background-color: #ff2d23;
}
.activity-group-work {
    background-color: #25b219;
}
.activity-discussion {
    background-color: #e5e100;
}
.activity-break {
    background-color: #184fff;
}

/*.activity > .length-span {*/
    /*width: 60px;*/
    /*text-align: right;*/
    /*display: inline-block;*/
    /*margin-right: 10px;*/
/*}*/

.activity > .glyphicon-remove {
    visibility: hidden;
}
.activity.over > .glyphicon-remove {
    visibility: visible;
}

.table-view-custom{
    display:inline;
}

