#activityDialog > .modal-dialog {
    width: 350px;
}

.activitydialog-table td {
    text-align: right;
    padding: 5px;
}

#activityDescriptionLabel {
    vertical-align: top;
    padding-top: 8px;
}

#activityDescription {
    height: 100px;
}