#parkedActivitiesContainer {
    border: solid black 1px;
    min-height: 200px;
}

#dayViewsContainer {
    border: black solid 1px;
}

.activitiesDiv {
    border: solid black 1px;
    min-height: 100px;
}
.activitiesDiv.over {
    border: dashed red 2px;
}

.day-canvas {
    width: 100px;
    height: 150px;
}