#dayViewsContainer {
    border: black solid 1px;
}

#addDayButtonDiv{
   margin-top:15px;
}

.activitiesDiv {
    border: solid black 1px;
    min-height: 100px;
}
.activitiesDiv.over {
    border: dashed red 2px;
}

#overallDayContainer {
    display: table-row;
    overflow: hidden;
}