#parkedActivitiesContainer {
    border: dashed grey;
    min-height: 592px;
}
#parkedActivitiesContainer.dragOver {
    border: dashed red;
}

.parked-activity-wrapper {
    margin: 5px;
}
.parked-activity-wrapper.dragOver:before {
    content: '';
    display: block;
    height: 30px;
}

.parked-activity {
    margin: 0px;
    padding: 5px;
}

.parked-activity-wrapper > div > .glyphicon-remove {
    visibility: hidden;
}
.parked-activity-wrapper:hover > div > .glyphicon-remove {
    visibility: visible;
}

#addActivityButton {
    margin-top: 15px;
}